@import "./kube/kube.scss";
@import "./font-awesome/fontawesome.scss";
@import "./font-awesome/solid.scss";

#container {
    @include grid-row;
}
#sidebar {
    @include flex-item-width(300px);
}
#content {
    @include flex-item-auto;
}

.small-box {
    padding: 10px 10px 10px 10px !important;
}

.visited {
	color: gray !important;
}

.language-yaml {
	background-color: transparent !important;
}

.language-bash {
	background-color: transparent !important;
}

.language-json {
	background-color: transparent !important;
}

.language-go {
	background-color: transparent !important;
}

.small {
	font-size: 14px !important;
	line-height: 21px !important;
}

.search {
	margin-bottom: 0 !important;
	margin-right: 2rem !important;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.externalPull {
    @include fa-icon;
    @extend .fas;
    &:before {
        content: fa-content($fa-var-cloud-download-alt);
    }
}

.externalPush {
    @include fa-icon;
    @extend .fas;
    &:before {
        content: fa-content($fa-var-cloud-upload-alt);
    }
}

.internalPull {
    @include fa-icon;
    @extend .fas;
    &:before {
        content: fa-content($fa-var-file-download);
    }
}

.internalPush {
    @include fa-icon;
    @extend .fas;
    &:before {
        content: fa-content($fa-var-file-upload);
    }
}

.pubSub {
    @include fa-icon;
    @extend .fas;
    &:before {
        content: fa-content($fa-var-random);
    }
}