@import "./kube/kube.scss";
@import "./font-awesome/fontawesome.scss";
@import "./font-awesome/solid.scss";

#container {
    @include grid-row;
}
#sidebar {
    @include flex-item-width(300px);
}
#content {
    @include flex-item-auto;
}

.small-box {
    padding: 10px 10px 10px 10px !important;
}

.visited {
	color: gray !important;
}

.language-yaml {
	background-color: transparent !important;
}

.language-golang {
	background-color: transparent !important;
}

.language-bash {
	background-color: transparent !important;
}

.language-json {
	background-color: transparent !important;
}

.language-go {
	background-color: transparent !important;
}

.small {
	font-size: 14px !important;
	line-height: 21px !important;
}

.search {
	margin-bottom: 0 !important;
	margin-right: 2rem !important;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.upd_externalPull {
    vertical-align: 0 !important;
    @include fa-icon;
    @extend .fas;
    &:before {
        content: fa-content($fa-var-cloud-download-alt);
    }
}

.upd_externalPush {
    vertical-align: 0 !important;
    @include fa-icon;
    @extend .fas;
    &:before {
        content: fa-content($fa-var-cloud-upload-alt);
    }
}

.upd_internalPull {
    vertical-align: 0 !important;
    @include fa-icon;
    @extend .fas;
    &:before {
        content: fa-content($fa-var-file-download);
    }
    &:after{
        font-family: normal;
    }
}

.upd_pull {
    vertical-align: 0 !important;
    @include fa-icon;
    @extend .fas;
    &:before {
        content: fa-content($fa-var-download);
    }
}

.upd_internalPush {
    vertical-align: 0 !important;
    @include fa-icon;
    @extend .fas;
    &:before {
        content: fa-content($fa-var-file-upload);
    }
}

.upd_pubSub {
    vertical-align: 0 !important;
    @include fa-icon;
    @extend .fas;
    &:before {
        content: fa-content($fa-var-random);
    }
}

.sen_lock {
    vertical-align: 0 !important;
    @include fa-icon;
    @extend .fas;
    &:before {
        content: fa-content($fa-var-lock);
    }
}

.sen_temperature {
    vertical-align: 0 !important;
    @include fa-icon;
    @extend .fas;
    &:before {
        content: fa-content($fa-var-thermometer-empty);
    }
}

.sen_presence {
    font-style: normal;
    &:before{
        font-family: "Material Icons";
        content: "face";
    }
}

.sen_generic {
    font-style: normal;
    &:before{
        font-family: "Material Icons";
        content: "device_unknown";
    }
}

.sen_button {
    font-style: normal;
    &:before{
        font-family: "Material Icons";
        content: "touch_app";
    }
}

.sen_motion {
    font-style: normal;
    &:before{
        font-family: "Material Icons";
        content: "transfer_within_a_station";
    }
}

#sharedcontent {
    counter-reset: count;
    max-width: 400px;
    margin: 24px auto 60px auto;
    padding: 32px;
    background: #fbfbfb;
    border: 1px solid rgba(0, 0, 0, 0.08); }
    #sharedcontent.wide {
      max-width: none;
      margin-bottom: 24px; }