  <footer id="footer">
    <nav>
      <ul>
          <li><a href="https://coveralls.io/github/go-home-io/server?branch=master"><img src="https://coveralls.io/repos/github/go-home-io/server/badge.svg?branch=master" alt="Coverage Status"/></a></li>
          <li><a href="https://travis-ci.com/go-home-io/server"><img src="https://travis-ci.com/go-home-io/server.svg?branch=master" alt="Build Status"/></a></li>
      </ul>
    </nav>
      <p>
          <span>go-home</span>
          <span>2018 &copy; Licence MIT.</span>
      </p>
  </footer>