<!--  page: page object
      from: where too look for sub-pages 
      link: should create link to parent or not 
      title: tile of the
      sort_by: which field to use for sorting. Title by default -->
<div id="sidebar">

{{ $logo := .page.Params.logo }}
{{ if ne $logo nil }}
    {{ $found := false }}
    {{ range .page.Resources.ByType "image" }}
        {{ if eq .Name $logo }}
            {{ $resized := .Resize "100x" }}
            <img src="{{ $resized.RelPermalink }}" class="center" />
            {{ $found := true}}
        {{ end }}
    {{ end }}

    {{ if eq $found false }}
        {{ range .page.Parent.Resources.ByType "image" }}
            {{ if eq .Name $logo }}
                {{ $resized := .Resize "100x" }}
                <img src="{{ $resized.RelPermalink }}" class="center" />
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ $show := .page.Params.sidebar | default true }}
{{ if eq $show true }}
      {{ if eq .link "true" }}
        <h5><a href="{{ .page.Parent.Permalink }}">{{ .title }}</a>:</h5>
      {{ else }}
        <h5>{{ .title}}:</h5>
      {{ end }}
      <nav id="contents">
        <ol>
          <ul>
            {{ $pageType := .page.Page.Type }}
            {{ $cur := .page.Permalink }}
            {{ $link := .link }}

            {{ $sortBy := .sort_by }}
            {{ if eq $sortBy nil }}
                {{ $sortBy := "Title" }}
            {{ end }}


            {{ range sort (where .from "Type" $pageType) $sortBy "asc" }}
              <li class="toc-list-item">
                {{ if and (eq .Permalink $cur)  (eq $link "true") }}
                    <a href="{{ .Permalink }}" class="visited">{{ .Title }}</a>
                {{ else }}
                        <a href="{{ .Permalink }}" class="toc-link">{{ .Title }}</a>
                {{ end }}
              </li>
            {{ end }}
          </ul>
        </ol>
      </nav>
      {{ partial "toc" .page }}
    </div>
{{ end }}